body {
    background-color: #333;
}

.node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}


.node rect,
.node text,
.link {
    transition: all 3s ease-out;
    transform-origin: right;
}

.node text{
    /* transform-origin: left; */
    /* transform:rotate(90deg); */
    /* translate: -30px -100px; */
}


.top-bar{
    position: absolute;
    top: 10px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: #777;
    border: solid 2px;
    padding: 0 3px;
}

#loading-indicator{
    right: 10px;
}

#force-re-draw{
    left: 170px;
}

#last-block-info{
    left: 10px;
}

.initial{
    width:0px;
}

.hidden{
    display: none;
}

/* 

body{
    background-color:rgb(100, 100, 100);
}

.flex-cont{
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.flex-cont span, .flex-cont  div{
    display: block;
    width: auto;
    background-color: white;
    text-align: center; 
    box-sizing: border-box;
    border: solid red 1px;
    transition: width 2s;
    transition: flex-grow 1000ms linear;
    transition:all ease-in-out 1s;
    margin-top: 10px;
}

.initial-grow{
    margin-top: -20.5px !important;
    transition:all 2s;
} */