body{
    background-color:rgb(100, 100, 100);
}

.flex-cont{
    background-color: rgb(60, 60, 60);
    /* display: flex;
    justify-content: space-around;
    align-items: center;   */
}

.flex-cont span, .flex-cont span div{
    display: block;
    width: auto;
    background-color: white;
    text-align: center; 
    box-sizing: border-box;
    border: solid red 1px;
    /* transition: width 2s;
    transition: flex-grow 1000ms linear; */
    transition:all ease-in-out 1s;
    margin-top: 10px;
}

.initial-grow{
    margin-top: -20.5px !important;
    transition:all 2s;
}