<html>
    <head>
      <meta charset="UTF-8">
      <script src="https://unpkg.com/htmx.org@1.6.1"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>


    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8  offset-lg-2">
                    <button onclick=myFunction()>Click Me!</button>
                    <div class="flex-cont" hx-get="/get_test" hx-trigger="load, click"></div>
                </div>
            </div>
        </div>
        <script>
            async function myFunction() {
  const a = await fetch("/set_test")
}
        </script>
    </body>

</html>