.flex-cont{
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    width: 1vw;
}

.flex-cont span{
    background-color: white;
    /* flex-basis: auto; */
    flex: 1 0 50%;
}